# Copyright (c) 2020 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config BOARD_COMMON_NUCLEO144
    bool
    select HAS_ARDUINO
    select BOARD_COMMON_NUCLEO

config MOD_NUCLEO144_COMMON
    default y
    depends on BOARD_COMMON_NUCLEO144
    depends on TEST_KCONFIG

source "$(RIOTBOARD)/common/nucleo/Kconfig"
